

.mynavbar {
    background: #761e78;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed top;
    top: 0;
    z-index: 1200;
    box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
  }

  .mynavbar1 {
    background:#761e78;
    transition: all 0.3s ease;
    opacity: 0.7;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
  }

  .mynavbar1:hover {
    opacity: 1;
    transition: all 0.2s ease;
  }

  .mynavbar1:active {
    opacity: 1;
    transition: all 0.2s ease;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  .fa-typo3 {
    
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    font-size: 2rem;
    cursor: pointer;
    color: "white"
  } 
  .fa-typo3:hover {
    color: yellow;
    transition: all 0.5s ease;
  }

  .fa-typo4 {
    margin-right: 0.35rem;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: "white"
  } 

  .vl {
    border-left: 3px solid rgba(41, 41, 41, 0.774);
    box-shadow: gainsboro;
    margin-top: 12px;
    height: 90%;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    
    margin-left: 50px;
    justify-content: end;
    
  }
  
  .nav-item {
    height: 50px;
  }

  li{
    list-style-type:none;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    height: 145%;
  }

  .pop-container {
    width: 300px;
    
    color:rgb(77, 50, 40)
  }
  .pop-body {
    background-color: rgb(248, 248, 244);
  }

  .signin-links {
    align-items: center;
  }

  .signon-links {
    cursor: pointer;
    font-size: 12pt;
    font-family: Verdana;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#001aff;
  }

  .signout-links {
    cursor: pointer;
  }
  
  .nav-links:hover {
    border-bottom: 8px solid #fff;
    transition: all 0.1s ease-out;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  .mnav-menu {
    display: none;
  }

  .MuiBottomNavigation-root {
    
    display: none;
    
  }
  
  @media screen and (max-width: 900px) {
    
    .bottom-nav {
      overflow: hidden;
      display: contents;
      position: fixed;
      width: 100%;
      bottom: 0;
      border-top: 1px solid rgb(196, 189, 189);
      background-color: lightgrey;
   
    }

    .nav-menu {
      display: none;
    }

    body.scrollblock {
      overflow: hidden;
    }

    .mnav-menu {
      display: flex;
      justify-content: flex-end;
      width: 77%;
      height: 500px;
      top: 69px;
      left: -100%;
      list-style: none;
      position: fixed; 
      overflow-y: scroll;
      z-index: 900;
      transition-duration: 5s;
      transition-delay: 2s;
      transition-delay: 5s;
    }
    
    .mnav-menu.active {
      z-index: 900;
      background: rgb(24, 24, 24);
      left: 0;
    } 

    .mynavbar1 {
      opacity: 1;
    }
  
    .mnav-links {
      text-align: right;
      font-size: 21px;
      display: block;
      text-decoration: none;
      padding: 1rem ;
      margin-top: 15px;
      margin-right: 25px;
    }

    .nav-links:hover {
      border-radius: 0;
      border-bottom: none;
    }

   .hl {
    display: block;
    border-bottom: 3px solid rgba(77, 46, 85, 0.774);
    box-shadow: rgb(255, 255, 255);
    margin-top: 2px;
   
    width: 15rem;
   }
  
    .navbar-logo {
      
      position: absolute;
      font-size: 1.2rem;
      left: 15px;
    }

    .fa-typo3 { 
      margin-left: 15px;
      font-size: 1.3rem;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 30%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .nav-links-mobile {
      display: block;
      align-items: center;
      margin: auto;
      border-radius: 4px;
      width: 70%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
    
    

  }